.cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 282px);
  gap: 20px 17px;
}

@media screen and (max-width: 879px) {
  .cards {
    grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (max-width: 580px) {
  .cards {
    grid-template-columns: repeat(1, 282px);
  }
}
