.cards {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  gap: 20px 17px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__picture {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__caption-space {
  height: 79px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 21px;
  padding-right: 18px;
}

.card__caption-text {
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 22px;
  line-height: calc(29 / 22);
  font-weight: 900;
  color: #000;
}

.card__button-like {
  width: 21px;
  height: 19px;
  background-image: url(../../images/image-button-like-default.svg);
  transition: opacity 0.5s;
}

.card__button-like:hover {
  opacity: 0.6;
  cursor: pointer;
}
