.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* visibility: hidden; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.edit-form {
  position: sticky;
  margin: 0 auto;
  top: 195px;
  width: min(88vw, 430px);
  border-radius: 10px;
  background-color: #fff;
  padding: 34px 36px 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.edit-form__button-close {
  width: 36px;
  height: 36px;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity 0.5s;
}

.edit-form__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.edit-form__title {
  width: 100%;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: calc(29 / 24);
  margin: 0 0 54px;
}

.edit-form__field {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  font-size: 14px;
  padding-bottom: 13px;
  margin-bottom: 30px;
  line-height: calc(17 / 14);
}

.edit-form__field:last-of-type {
  margin-bottom: 48px;
}

.edit-form__button-submit {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(22 / 18);
  transition: opacity 0.5s;
}

.edit-form__button-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}
