.profile__button-edit {
  width: min(24px, calc((18 / 320) * 100vw));
  height: min(24px, calc((18 / 320) * 100vw));
  padding-left: min(18px, calc((10 / 320) * 100vw));
  transition: opacity 0.5s;
}

.profile__button-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}
