.profile {
  max-width: 880px;
  position: relative;
  display: flex;
  align-items: center;
  gap: calc(168.75px - 127.5px + 3.75px);
  padding: 36.25px 0 46.25px;
}

@media screen and (max-width: 879px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }
}
