.profile {
  padding-top: 36.25px;
  padding-bottom: 46.25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__container {
  display: grid;
  grid-template-areas:
    "picture name edit"
    "picture bio .";
  height: 127.5px;
  grid-template-columns: 168.75px 1fr calc(24px + 18px);
}

.profile__picture {
  grid-area: picture;
  background-color: green;
  height: 127.5px;
  width: 127.5px;
  margin: 0 auto;
  border-radius: 50%;
}

.profile__name {
  grid-area: name;
  font-size: 42px;
  font-weight: 500;
  line-height: calc(48 / 42);
  align-self: center;
}

.profile__bio {
  grid-area: bio;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(22 / 18);
}

.profile__button-edit {
  grid-area: edit;
  align-self: center;
  padding-left: 18px;
}

.profile__button-add {
  width: 150px;
  height: 50px;
}
