.popup__button {
  width: 100%;
  height: 50px;
  border: 1px solid #000;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(22 / 18);
  transition: opacity 0.5s;
}

.popup__button:not(.popup__button_disabled):hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__button_disabled {
  background-color: #fff;
  color: #000;
  opacity: 0.2;
}
