.header {
  max-width: 880px;
  padding-top: min(10vw, 45px);
  padding-bottom: min(10vw, 41px);
  border-bottom: solid 1px #545454;
}

@media screen and (max-width: 879px) {
  .header {
    padding-left: 27px;
  }
}
