.profile__add {
  width: 22px;
  height: 22px;
  padding: 14px 64px;
  position: absolute;
  right: 0;
  transition: opacity 0.5s;
  border: 1px solid white;
  border-radius: 2px;
}

.profile__add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 879px) {
  .profile__add {
    bottom: 0;
    right: auto;
    width: 16px;
    height: 16px;
    padding: 17px 133px;
  }
}
