.footer {
  font-size: 18px;
  font-weight: 400;
  line-height: calc(22 / 18);
  color: #545454;
  padding-top: 68px;
  padding-bottom: 60px;
}

@media screen and (max-width: 879px) {
  .footer {
    font-size: 14px;
    line-height: calc(17 / 14);
    padding-top: 50px;
    padding-left: 19px;
    padding-bottom: 36px;
  }
}
